NODE_ENV=development
PORT=4000

# EITHER set DATABASE_URL, OR set individual DB_* vars
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=quicksite_dev
DB_USER=postgres
DB_PASS=postgres

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="QuickSite <noreply@quicksite.local>"

OTP_TTL_SECONDS=600
